* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;/*Tymczasowy Font*/
}
img{
	/*Póki jest jeden obrazek to dzia³a*/
	height:100%;
	width:100%;
}
button {
	/*usuwa domyœlny efekt po klikniêciu przycisku*/
	outline: none;
}
:root {
	/*Kolory zak³adek i przycisków do nich*/
	--zakladka-walka-color: #0fbdb9;
	--zakladka-ekwipunek-color: MediumSeaGreen;
	--zakladka-menu-color: blue;
	--zakladka-ustawienia-color: green;
	/*Koniec kolorów i przycisków do nich*/
}
body {
	margin: 0px;
	padding: 0px;
}
.pasekNawigacji {
	width: 100%;
	height: 5%;
	display: flex;
}
.przyciskNawigacji {
	width: 25%;
	height: 100%;
	border: none;
	cursor: pointer;
	flex-wrap: nowrap;
	text-align: center;
	line-height: 250%;
	color: white;
}
.przyciskAtaku {
	width: 48%;
	height: 10%;
	cursor: pointer;
	text-align: center;
	color: white;
	background-color: #82b74b;
	float: left;
	margin: 1%;
	border:none;
}
.przyciskAtaku:hover {
	/*Efekt po najechaniu na przycisk ataku*/
	border: 3px solid #27420b;
}
.przyciskAtaku:active {
	/*Efekt po klikniêciu przycisku ataku*/
	background-color: #68943b;
}
.zakladkaWalka {
	width: 100%;
	height: 95%;
	position: absolute;
	background: var(--zakladka-walka-color);
	z-index: 0;
}
.zakladkaEkwipunek {
	width: 100%;
	height: 95%;
	position: absolute;
	background: var(--zakladka-ekwipunek-color);
	z-index: -1;
}
.zakladkaMenu {
	width: 100%;
	height: 95%;
	position: absolute;
	background: var(--zakladka-menu-color);
	z-index: -1;
}
.zakladkaUstawienia {
	width: 100%;
	height: 95%;
	position: absolute;
	background: var(--zakladka-ustawienia-color);
	z-index: -1;
}
.walka {
	width: 50%;
	height: 100%;
	/*background-color: yellow;*/
	float:left;
}
.mapa {
	width: 50%;
	height: 100%;
	/*background-color: red;*/
	float: left;
}
.gracz {
	width: 50%;
	height: 65%;
	float: left;
	/*background-color: blue;*/
}
.przeciwnik {
	width: 50%;
	height: 65%;
	float:left;
	/*background-color: green;*/
}
.opcjeWalki {
	width: 100%;
	height: 5%;
	float: left;
	/*background-color: gold;*/
}
.logi {
	width: 100%;
	height: 30%;
	float: left;
	/*background-color: brown;*/
}
.ataki {
	width: 100%;
	height: 79%;
	/*background-color: red;*/
}
.nick{
	text-align:center;
	font-size:150%;
	color:white;
}
.napisHp {
	padding:4%;
	position:absolute;
	z-index:2;
	width:100%;
	height:100%;
	text-align:center;
	font-size:110%;
}
.tloHp{
	position:relative;
	z-index:0;
	background-color:gray;
	width:90%;
	height:10%;
	margin:auto;
}
.zdrowieKoncowe {
	position: relative;
	z-index: 1;
	background-color: red;
	width: 100%;
	height: 100%;
}
.zdrowiePrzeciwnik {
	position: relative;
	z-index: 1;
	background-color: red;
	width: 100%;
	height: 100%;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.nodrag {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}