html, body {
	background-color: black;
	height: 100%;
	margin: 0px;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif; /*Tymczasowy Font*/
}

img {
	/*Póki jest jeden obrazek to działa*/
	height: 100%;
	width: 100%;
}

button {
	/*usuwa domyślny efekt po kliknięciu przycisku*/
	outline: none;
	cursor: pointer;
}

button:hover:active {
	filter: brightness(50%);
}

button:hover {
	filter: brightness(110%);
}

:root {
	/*Kolory zakładek i przycisków do nich*/
	--zakladka-walka-color: #0fbdb9;
	--zakladka-ekwipunek-color: MediumSeaGreen;
	--zakladka-menu-color: blue;
	--zakladka-ustawienia-color: green;
	/*Koniec kolorów i przycisków do nich*/
}

.pasekNawigacji {
	width: 100%;
	height: 5%;
	display: flex;
}

.przyciskNawigacji {
	width: 25%;
	height: 100%;
	border: none;
	cursor: pointer;
	flex-wrap: nowrap;
	text-align: center;
	line-height: 250%;
	color: white;
}

.przyciskAtaku {
	width: 48%;
	height: 10%;
	cursor: pointer;
	text-align: center;
	color: white;
	background-color: #82b74b;
	float: left;
	margin: 1%;
	border: none;
}

	.przyciskAtaku:hover {
		/*Efekt po najechaniu na przycisk ataku*/
		border: 3px solid #27420b;
	}

.zakladkaWalka {
	width: 100%;
	height: 95%;
	position: absolute;
	background: var(--zakladka-walka-color);
	z-index:-1;
}

.zakladkaEkwipunek {
	width: 100%;
	height: 95%;
	position: absolute;
	background: var(--zakladka-ekwipunek-color);
	z-index: -1;
}

.wyposazenie {
	margin: auto;
	width: 25%;
	height: 95%;
	grid-template-columns: repeat(1fr);
	grid-gap: 1px;
	position: absolute;
	background: var(--zakladka-ekwipunek-color);
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
	.glownyEkwipunek {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-gap: 1px;
		column-gap: 1px;
		background-color: #2196F3;
		padding: 6px;
		left: 25%;
		position: absolute;
	}

	.slot {
		border: 1px solid black;
		background-color: #ddd;
		padding: 4px;
		height: 65.8px;
		width: 65.8px;
		cursor: move;
		margin: auto;
	}
	
	.smietnik {
		border: 1px solid black;
		background-color: red;
		padding: 6px;
		height: 65.8px;
		width: 65.8px;
		cursor: move;
		margin: auto;
	}
}

@media screen and (min-width: 1260px) and (max-width: 1300px) {
	.glownyEkwipunek {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-gap: 1px;
		column-gap: 1px;
		background-color: #2196F3;
		padding: 6px;
		left: 25%;
		position: absolute;
	}

	.slot {
		border: 1px solid black;
		background-color: #ddd;
		padding: 4px;
		height: 58.3px;
		width: 58.3px;
		cursor: move;
		margin: auto;
	}
	
	.smietnik {
		border: 1px solid black;
		background-color: red;
		padding: 6px;
		height: 58.3px;
		width: 58.3px;
		cursor: move;
		margin: auto;
	}
}

@media screen and (min-width: 1900px) and (max-width: 1940px) {
	.glownyEkwipunek {
		left: 25%;
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-gap: 1px;
		background-color: #2196F3;
		padding: 6px;
		position: absolute;
	}

	.slot {
		border: 1px solid black;
		background-color: #ddd;
		padding: 10px;
		height: 87.8px;
		width: 87.8px;
		cursor: move;
		margin: auto;
	}
	
	.smietnik {
		border: 1px solid black;
		background-color: red;
		padding: 6px;
		height: 87.8px;
		width: 87.8px;
		cursor: move;
		margin: auto;
	}
}

.slot.over {
	border: 5px dotted black;
}

.zakladkaMenu {
	width: 100%;
	height: 95%;
	position: absolute;
	background: var(--zakladka-menu-color);
	z-index: -1;
}

.zakladkaUstawienia {
	width: 100%;
	height: 95%;
	position: absolute;
	background: var(--zakladka-ustawienia-color);
	z-index: -1;
}

.walka {
	width: 50%;
	height: 100%;
	/*background-color: yellow;*/
	float: left;
}

.mapa {
	width: 50%;
	height: 100%;
	/*background-color: red;*/
	float: left;
}

.gracz {
	width: 50%;
	height: 65%;
	float: left;
	/*background-color: blue;*/
}

.przeciwnik {
	width: 50%;
	height: 65%;
	float: left;
	/*background-color: green;*/
}

.opcjeWalki {
	width: 100%;
	height: 5%;
	float: left;
	/*background-color: gold;*/
}
.logi {
	width: 100%;
	height: 30%;
	float: left;
	-webkit-text-stroke: 0.1px black;
	color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 2%;
	bottom: 2%;
	position: relative;
}

.ataki {
	width: 100%;
	height: 79%;
	/*background-color: red;*/
}

.nick {
	text-align: center;
	font-size: 150%;
	color: white;
}

.napisHp {
	padding: 4%;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 110%;
}

.tloHp {
	position: relative;
	z-index: 0;
	background-color: gray;
	width: 90%;
	height: 10%;
	margin: auto;
}

.zdrowieKoncowe {
	position: relative;
	z-index: 1;
	background-color: red;
	width: 100%;
	height: 100%;
}

.zdrowiePrzeciwnik {
	position: relative;
	z-index: 1;
	background-color: red;
	width: 100%;
	height: 100%;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.nodrag {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.przyciskLas {
	position: absolute;
	top: 22%;
	right: 11%;
	background-color: #38c95f;
	border: solid black 1px;
}

.przyciskGory {
	position: absolute;
	top: 22%;
	right: 27%;
	background-color: gray;
	border: solid black 1px;
	display: none;
}
.zakladka {
}
/* width */
.logi::-webkit-scrollbar {
	width: 15px;
}

/* Track */
.logi::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
.logi::-webkit-scrollbar-thumb {
	background: #51f582;
	border-radius: 10px;
}

/* Handle on hover */
.logi::-webkit-scrollbar-thumb:hover {
	background:#38ab5b;
}
