body {
	background: green;
	margin: 0px;
	padding: 0px;
}
.pasek {
	width: 99.6%;
	height: 5%;
}
.przycisk {
	width:10%;
	height:100%;
	border:none;
}
.zakladka0 {
	width: 100%;
	height: 95%;
	position: absolute;
	background: #0fbdb9;
	z-index: 0;
}
.zakladka1 {
	width: 100%;
	height: 95%;
	position: absolute;
	background: lime;
	z-index: -1;
}
.zakladka2 {
	width: 100%;
	height: 95%;
	position: absolute;
	background: blue;
	z-index: -1;
}
.zakladka3 {
	width: 100%;
	height: 95%;
	position: absolute;
	background: green;
	z-index: -1;
}